/assets/*
/procgame/*
/gamedesign/*
/config/game_data.yaml
/lamps/LampshowTimeCalculator.xlsx
/lamps/fix.bat
wingdbstub.py
wingdebugpw
*.zip
*.wpr
*.wpu
#############
## Log File
#############
pinbot.txt
#############
## Python
#############
*.pyc